<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Deep_cycle</title>
  {{ dropzone.load_css() }} <!-- 필수 아님(코드에 써도 됨)-->
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 200px;') }}

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
{#  <link href="static/css/agency.min.css" rel="stylesheet">#}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body id="page-top">


  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text text-center">
        <h2 class="intro-lead-in"> 이미지를 업로드해주세요! </h2>
        <h3 class="intro-heading text-uppercase"> Please upload your image. </h3>
      </div>
    </div>
  </header>


  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              {{ dropzone.create('/') }}
              {{ dropzone.load_js() }}
              {{ dropzone.config() }}
          </div>
          <div class="col-md-6">
              <!-- 데이터가 들어오면 정보를 출력할 부분 -->
          </div>
      </div>
      <div class="row-lg text-center">
          <button id="upload" class="btn btn-primary btn-xl text-uppercase" type="submit">Upload</button>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="static/js/jqBootstrapValidation.js"></script>
  <script src="static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/agency.min.js"></script>

</body>

</html>
