{% extends "layout.html" %}
{% block head %}
<style>
    @font-face {
        font-family: 'Dohyen';
        src: url("../static/font/DoHyeon.ttf");
    }
</style>
{{ dropzone.load_css() }}
<!-- 필수 아님(코드에 써도 됨)-->
{{ dropzone.style("border: 1.5px dashed #ced4da; margin: 10%; min-height: 200px; border-radius: .25rem;") }}
{% endblock %}

{% block content %}
<!-- Header 
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header> -->

<!-- Upload -->
<section class="page-section" id="services">
    <article class="container">
        <div class="col-lg-12 text-center">
            <h2 class="intro-lead-in"> 이미지를 업로드해주세요! </h2>
            <h3 class="intro-heading text-uppercase"> Please upload your image. </h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- 데이터가 들어오면 정보를 출력할 부분 -->
            </div>
            <div class="col-md-6">
                {{ dropzone.create("/upload") }}
            </div>
        </div>
        <div class="row-lg text-center">
            <!-- <form action="complete"> -->
            <button id="upload" class="btn btn-primary btn-xl text-uppercase" type="submit">Upload</button>
            <!-- </form> -->
        </div>
    </article>
</section>
{% endblock %}

{% block script %}
{{ dropzone.load_js() }}
{{ dropzone.config() }}
{% endblock %}