<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Deep_cycle 결과 </title>

  <!-- Bootstrap core CSS 웹 연결이 아닌 static file 적용 -->
{#  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{#  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
    <style>
        body {
            background-image: url("../static/photo/plant.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        img {
            max-width: 50%;
            max-height: 30%;

        }
    </style>

</head>

<body>
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text text-center" style="margin-top: 30px; margin-bottom: 30px">
          <h3 class="intro-lead-in"> 이미지 분석완료 </h3>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section class="page-section">
        <div class="container" style="border:2px">
            <div class="row">
                <div class="col-md-6" style="border: 2px solid red">
                    {% if True %}
                    <img style="margin: 0px auto;display: block" src="{{ url_for('static', filename='photo/'+img_tag)}}">
                    {% endif %}
                </div>
                <div class="col-md-6" style="border: 2px solid red>
                    <div class="container">
                        안녕하세요
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
