<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}

<form action="/register" method="POST"><br>
  <li><input type="text" name="id" placeholder="ID"></li>
  <li><input type="text" name="password" placeholder="Password"></li>
  <li><input type="text" name="user_name" placeholder="Name"></li>
  <li><input type="text" name="user_email" placeholder="Email"></li>
  <input type="submit" value="Register">
</form>
{% endif %}
{% endblock %}
</body>
</html>