<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deep_cycle</title>
    <link rel="icon" href="static/img/icons-recyclable.png">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {# <link href="static/css/agency.min.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agency.min.css') }}">

    {{ dropzone.load_css() }}
    <!-- 필수 아님(코드에 써도 됨)-->
    {{ dropzone.style('border: 1.5px dashed #ced4da; margin: 10%; min-height: 200px; border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;') }}

</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Deep Cycle</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header 
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </header> -->

    <!-- Upload -->
    <section class="page-section" id="services">
        <article class="container">
            <div class="col-lg-12 text-center">
                <h2 class="intro-lead-in"> 이미지를 업로드해주세요! </h2>
                <h3 class="intro-heading text-uppercase"> Please upload your image. </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- 데이터가 들어오면 정보를 출력할 부분 -->
                </div>
                <div class="col-md-6">
                    {{ dropzone.create('/') }}
                </div>
            </div>
            <div class="row-lg text-center">
                <button id="upload" class="btn btn-primary btn-xl text-uppercase" type="submit">Upload</button>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Data Campus Korea-4 2019</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://github.com/dbguide-korea4">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/agency.min.js"></script>

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

</body>

</html>