<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Deep_cycle</title>
  {{ dropzone.load_css() }} <!-- 필수 아님(코드에 써도 됨)-->
  {{ dropzone.style('border: 2px dashed #000000; margin: 3%; min-height: 350px;') }}

  <!-- Bootstrap core CSS 웹 연결이 아닌 static file 적용 -->
{#  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{#  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}

    <style>
        body {
            background-image: url("../static/photo/plant.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        @font-face {
            font-family: 'Dohyen'; src: url("../static/font/DoHyeon.ttf");
        }

    </style>

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text text-center">
        <h2 class="intro-lead-in" style="margin-top: 60px"> 이미지를 업로드해주세요! </h2>
        <h3 class="intro-heading text-uppercase" style="margin-bottom: 30px"> Please upload your image. </h3>
      </div>
    </div>
  </header>


  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              {{ dropzone.create('/') }}
              {{ dropzone.load_js() }}
              {{ dropzone.config() }}
          </div>
      </div>
      <form action="complete" class="row-lg text-center">
          <!-- text-uppercase : 영어 대문자 변환 -->
          <button id="upload" class="btn btn-primary text-uppercase" type="submit">Upload</button>
      </form>
    </div>
  </section>
</body>

</html>
